body {
  background-image: url('http://kingofwallpapers.com/background-pic/background-pic-009.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: none;
}

/*@keyframes color-animation {
    % {
      background: #ad1457;
   }
   50% {
      background: #6a1b9a;
   }
   100% {
      background: #bbdefb;
   }
}

.box {
  border: 2px solid black;
  height: 150px;
  animation: color-animation 3s infinite linear alternate;
}*/

#board {
  margin-top: 40px;
}

.box {
  border: 2px solid black;
  height: 150px;
  background-color: #FFB424;
}

.xStyle {
  text-shadow: 5px 5px 5px #676549;
  font-size: 100px;
  text-align: center;
  color: #BD00AA;
}

.oStyle {
  text-shadow: 5px 5px 5px #676549;
  font-size: 100px;
  text-align: center;
  color: #1325FF;
}

/*button {
  margin-left: 50px;
  margin-top: 50px;
  border-radius: 10px;
  font-size: 25px;
  font-family: 'Fredericka the Great', cursive;
}*/

.btn-circle {
  border-radius: 50%;
}

.btn-primary.btn-circle{
  -webkit-box-shadow: 3px 3px 3px 1px #245580;
/*  -moz-box-shadow:    0px 0px 3px 1px #245580;*/
  box-shadow:         3px 3px 3px 1px #245580;
  margin-left: 60px;
  font-size: 25px;
  font-family: 'Fredericka the Great', cursive;
}

#reset:focus {
  outline:0;
}

#winner {
  /*position: absolute;*/
  text-align: center;
  /*margin: 0 auto;*/
  /*left: 0;*/
  display: inline-block;
  font-size: 30px;
  font-family: 'Fredericka the Great', cursive;
  color: #F7310E;
  padding-bottom: 0;
  margin-bottom: 0;
}

#loser {
  font-size: 30px;
  text-align: center;
  font-family: 'Fredericka the Great', cursive;
}

h1 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 55px;
  /*position: relative;*/
}
