body {
  background-image: url('http://kingofwallpapers.com/background-pic/background-pic-009.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: none;
}

/*@keyframes color-animation {
    % {
      background: #ad1457;
   }
   50% {
      background: #6a1b9a;
   }
   100% {
      background: #bbdefb;
   }
}

.box {
  border: 2px solid black;
  height: 150px;
  animation: color-animation 3s infinite linear alternate;
}*/

#board {
  margin-top: 10px;
}

.box {
  border: 2px solid black;
  height: 150px;
  background-color: #FFB424;
}

.xStyle {
  text-shadow: 5px 5px 5px #676549;
  font-size: 100px;
  text-align: center;
  color: #BD00AA;
}

.oStyle {
  text-shadow: 5px 5px 5px #676549;
  font-size: 100px;
  text-align: center;
  color: #1325FF;
}

button {
  margin-left: 20px;
  border-radius: 10px;
  font-size: 25px;
  font-family: 'Fredericka the Great', cursive;
}

#winner {
  text-align: center;
  font-size: 40px;
  font-family: 'Fredericka the Great', cursive;
}

h1 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 55px;
}
