body {
  background-image: url('./tictactoe.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: none;
}

#board {
  margin-top: 40px;
}

.box {
  border: 2px solid black;
  height: 150px;
  background-color: #FFB424;
}

.xStyle {
  text-shadow: 5px 5px 5px #676549;
  font-size: 100px;
  text-align: center;
  color: #BD00AA;
}

.oStyle {
  text-shadow: 5px 5px 5px #676549;
  font-size: 100px;
  text-align: center;
  color: #1325FF;
}

.btn-circle {
  border-radius: 50%;
}

.btn-primary.btn-circle{
  -webkit-box-shadow: 3px 3px 3px 1px #245580;
  box-shadow:         3px 3px 3px 1px #245580;
  margin-left: 60px;
  font-size: 25px;
  font-family: 'Fredericka the Great', cursive;
}

#reset:focus {
  outline:0;
}

#winner {
  text-align: center;
  display: inline-block;
  font-size: 30px;
  font-family: 'Fredericka the Great', cursive;
  color: #F7310E;
}

h1 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 55px;
}
